<template>
  <form @submit.prevent="onSubmit" class="create-form">
    <div class="row mb-3">
      <label for="english" class="col-sm-2 col-form-label">English:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" v-model="state.english" name="english" id="english"
               placeholder="English noun"/>
        <span class="error" v-if="v$.english.$error"> {{ v$.english.$errors[0].$message }}</span>
      </div>
    </div>
    <div class="row mb-3">
      <label for="russian" class="col-sm-2 col-form-label">Russian:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" v-model="state.russian" name="russian" id="russian"
               placeholder="Russian translation"/>
        <span class="error" v-if="v$.english.$error"> {{ v$.english.$errors[0].$message }}</span>
      </div>
    </div>
    <div class="row mb-3">
      <label for="notes" class="col-sm-2 col-form-label">Notes:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" v-model="state.notes" name="russian" id="notes"/>
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Gender:</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" v-model="state.gender" name="female" id="female" value="f">
          <label class="form-check-label" for="female">
            Female
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" v-model="state.gender" name="male" id="male" value="m">
          <label class="form-check-label" for="male">
            Male
          </label>
        </div>
        <span class="error" v-if="v$.english.$error"> {{ v$.english.$errors[0].$message }}</span>
      </div>
    </fieldset>
    <Button text="Save Noun" color="blue"/>
  </form>
</template>

<script>

import Button from '../components/Button.vue'

import useVuelidate from '@vuelidate/core'
import { required, maxLength } from '@vuelidate/validators'
import { reactive, computed } from 'vue'

export default {

  setup() {
    const state = reactive({
      english: '',
      russian: '',
      gender: '',
      notes: '',
      submitted: false
    })
    const rules = computed(() => {
      return {
        english: { required, maxLength: maxLength(100) },
        russian: { required, maxLength: maxLength(100) },
        gender: { required }
      }
    })
    const v$ = useVuelidate(rules, state)

    return {
      state,
      v$
    }
  },

  name: 'CreateNoun',
  emits: ['create-noun'],
  components: {
    Button
  },
  methods: {
    onSubmit() {
      this.submitted = true;

      this.v$.$validate()

      if (!this.v$.$error) {
        const newNoun = {
          english: this.state.english,
          russian: this.state.russian,
          gender: this.state.gender,
          notes: this.state.notes
        }

        this.$emit('create-noun', newNoun)

        this.state.english = ''
        this.state.russian = ''
        this.state.gender = ''
        this.state.notes = ''

        this.submitted = false
        this.v$.$reset()
      }
    }
  }
}
</script>
