<template>
  <p>Copyright &copy; {{ currentYear() }}</p>
</template>

<script>
export default {
  methods: {
    currentYear() {
      const date = new Date()
      return date.getFullYear()
    }
  }
}
</script>
