<template>
    <td>{{ noun.english }}</td>
    <td>{{ noun.russian }}</td>
    <td>{{ noun.gender }}</td>
    <td>{{ noun.notes }}</td>
    <span><i @click="$emit('delete-noun', noun.id)" class="fas fa-times"></i></span>
</template>

<script>
export default {
  name: 'Noun',
  emits: ['delete-noun', 'deleteNoun'],
  props: {
    'noun': Object
  }
}
</script>

<style scoped>
  .fas {
    color: red;
  }
</style>
