<template>
  <!--  todo: toggle the form and have list display full width when false -->
  <Button text="Create Noun" color="green" />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">English</th>
        <th scope="col">Russian</th>
        <th scope="col">Gender</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr :key="noun.id" v-for="noun in nouns">
        <Noun @delete-noun="$emit('delete-noun', noun.id)" :noun="noun" />
      </tr>
    </tbody>
  </table>
</template>

<script>
import Button from '../components/Button.vue'
import Noun from '../components/Noun.vue'

export default {
  name: 'Nouns',
  props: {
    nouns: Array
  },
  components: {
    Noun,
    Button
  },
  emits: ['delete-noun']
}
</script>

