<template>
  <div class="container">
    <div class="row">
      <Header />
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <Nouns @delete-noun="deleteNoun" :nouns="nouns" />
      </div>
      <div class="col-sm-12 col-md-4">
        <CreateNoun @create-noun="createNoun" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <Footer />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import Nouns from './components/Nouns.vue'
import CreateNoun from './components/CreateNoun';

const apiUrl = 'api/nouns'

export default {
  name: 'App',
  components: {
    CreateNoun,
    Header,
    Footer,
    Nouns
  },
  data() {
    return {
      nouns: []
    }
  },
  methods: {
    async createNoun(noun) {
      const res = await axios.post(apiUrl, noun, {
        headers: {
          'Content-type': 'application/json',
        },
      })

      // todo: maybe should be querying the database instead
      const duplicate = this.nouns.filter(noun => {
        return noun.russian === res.data.russian
      })

      if (duplicate.length !== 0) {
        // todo: custom validation - no duplicate nouns
        return false
      }

      this.nouns = [...this.nouns, res.data]
    },

    async deleteNoun(id) {
      const res = await fetch(apiUrl + '/' + id, {
        method: 'DELETE',
      })

      if (res.status === 200) {
        this.nouns = this.nouns.filter(noun => noun.id !== id)
      }
    },

    async fetchNouns() {
      const res = await axios.get(apiUrl)

      return await res.data
    },

    async fetchNoun(id) {
      const res = await axios.get(apiUrl + '/' + id)

      return await res.json()
    }
  },
  async created() {
    try {
      this.nouns = await this.fetchNouns()
    } catch (e) {
      console.error(e)
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

</style>
